.dashboardSection {
  position: relative;
  padding: 20px 0 60px;
  z-index: 10;
  scroll-margin-top: 100px;
  border-top: 2px solid var(--color-border);
  border-radius: 50px;
  margin-bottom: 40px;
}

.dashboardMainHeader {
  padding: 20px 0;
  border-bottom: solid 1px var(--color-border);
  margin-bottom: 40px;

  .dashboardMainTitle {
    background: linear-gradient(
      180deg,
      var(--color-text) 0%,
      var(--color-primary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .dashboardMainSubtitle {
    font-size: 22px;
    margin-top: 0;
  }
}

.dashboardContentSection {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.dashboardSectionTitle {
  font-weight: 700;
  font-size: 42px;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.dashboardSectionDescription {
  font-size: 22px;
  margin-top: 0px;
  font-weight: 400;

  span {
    color: var(--color-primary);
  }
}

.chartWrapper {
  width: 100%;
  flex: 1;
  min-width: 300px;
  height: 100%;
}

.chartsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.sectionDivider {
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding: 20px 0;
}

@media screen and (max-width: 900px) {
  .dashboardSection {
    border-top: 2px solid var(--color-border);
    border-radius: 50px;
    text-align: center;
    padding: 20px 0;
  }
}
