.dashboardSection {
  position: relative;
  padding: 20px 0 60px;
  z-index: 10;
  scroll-margin-top: 100px;
  border-top: 2px solid var(--color-border);
  border-radius: 50px;
  margin-bottom: 40px;
}

.dashboardInner {
  background: transparent;
}

.dashboardHeader {
  padding: 20px 0;
  border-bottom: solid 1px var(--color-border);
  margin-bottom: 40px;

  .dashboardTitle {
    background: linear-gradient(
      180deg,
      var(--color-text) 0%,
      var(--color-primary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.chartsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pieCharts,
.barCharts,
.lineAreaCharts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .dashboardSection {
    border-top: 2px solid var(--color-border);
    border-radius: 50px;
    text-align: center;
    padding: 20px 0;
  }
}
